# Workflow

Mail Data -> Data pre processing -> Train Test Split-> Logistic regression model

Then:-

pass the mail to trained Logistic regression Model

# New mail --Trained Logistic Regression model --Spam or notspam.

Code starts

importing the Dependencies

In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection & Pre processing

In [7]:
raw_mail_data = pd.read_csv('mail_data.csv')

In [8]:
raw_mail_data.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

In [9]:
#replace the null value with the null string

In [10]:
mail_data=raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [11]:
mail_data.head(6)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...

In [12]:
mail_data.shape

(5572, 2)

Label Encoding

In [13]:
mail_data.loc[mail_data['Category'] == 'spam', 'Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham', 'Category',] = 1

spam  -  0, ham -  1

In [14]:
mail_data.head(10)

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...
5        0  FreeMsg Hey there darling it's been 3 week's n...
6        1  Even my brother is not like to speak with me. ...
7        1  As per your request 'Melle Melle (Oru Minnamin...
8        0  WINNER!! As a valued network customer you have...
9        0  Had your mobile 11 months or more? U R entitle...

__separating the data as text and level

In [22]:
X = mail_data['Message']


Y = mail_data['Category']

In [24]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [25]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

<h4>Train-Test-Split<h2>

In [26]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2, random_state=3)

In [29]:
print(X.shape)
print(X_test.shape)
print(X_train.shape)

(5572,)
(1115,)
(4457,)

Feature Extraction

In [30]:
#transform the text data as feature vectors that can be used as input to the Logistic regression

In [31]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words ='english' , lowercase ='True')

In [32]:
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [34]:
#print(X_train_features)

<h3>Training the MODEL<h3>

In [35]:
model = LogisticRegression()

In [36]:
model.fit(X_train_features,Y_train)

LogisticRegression()

Evaluating the trained model

In [37]:
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train,prediction_on_training_data)

In [38]:
print('Accuracy on training data : ',accuracy_on_training_data)

Accuracy on training data :  0.9670181736594121

In [39]:
prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test,prediction_on_test_data)
print('Accuracy on test data : ',accuracy_on_test_data)

Accuracy on test data :  0.9659192825112107

Building a predictive system

In [40]:
input_mail = ['Had your mobile 11 months or more? U R entitle...']
input_data_features = feature_extraction.transform(input_mail)

prediction = model.predict(input_data_features)
print(prediction)

[1]

In [41]:
if prediction[0]==1:
    print('not Spam')
    
else:
    print('Spam mail')

not Spam